*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    padding: 15px;

}
.cal-text{
    margin: 0 auto;
    width: 350px;
    text-align: center;
    font-size: 0px;
    box-shadow: 0 3px 5px 0px;
}
#number{
    width: 335px;
    height: 100px;
    text-align: right;
    font-weight: 800;
    padding: 5px;
    font-size: 32px;
    letter-spacing: 5px;
    
}
.btn{
    
    width: 87px;
    height: 70px;
}